:root {
    --half-screen-width: 50vw;
    --text-header: calc(2.25vw + 5px);
    --text-sub-header: calc(1.3vw + 2.5px);
    --text-body: calc(0.75vw + 2px);
    --text-body-highlight: calc(1vw + 2.1px);
    --text-sub-header-top-margin: calc(0.7vw + 2px);
    --left-col-sub-header-bottom-margin: calc(0.65vw + 2px);
    --left-col-text-body-margin: calc(0.025vw + 0.5px);
    --li-vertical-margin: calc(0.05vw + 0.75px);
    --right-text-body-top-margin: calc(0.65vw + 2px);
}

.preview-subheader {
    margin: var(--text-sub-header-top-margin) 0 0 0; /***** Original Value is 13px *****/
    font-weight: bold;
    font-size: var(--text-sub-header); /***** Original Value is 20px *****/
}

/***** Name *****/

.preview-name {
    padding: 5% 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.preview-name p {
    margin: auto 0;
    font-size: var(--text-header); /***** Original Value is 35px *****/
    text-align: center;
    font-weight: bold;
}

/***** Address *****/ 

.preview-address {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: var(--left-col-sub-header-bottom-margin); /***** Original Value is 10px *****/
}

.preview-address p {
    margin: var(--left-col-text-body-margin) 0; /***** Original Value is 2px *****/
    font-size: var(--text-body); /***** Original Value is 12px *****/
}

/***** Contacts *****/

.preview-contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: var(--left-col-sub-header-bottom-margin); /***** Original Value is 10px *****/
}

.preview-contacts p {
    margin: var(--left-col-text-body-margin) 0; /***** Original Value is 2px *****/
    font-size: var(--text-body); /***** Original Value is 12px *****/
    text-align: left;
}

/***** Skills *****/ 

.skills-preview ul {
    padding: 0;
}

.skills-preview ul li{
    list-style: none;
    font-size: var(--text-body); /***** Original Value is 12px *****/
    margin: var(--li-vertical-margin) 0; /***** Original Value is 3px *****/
}

/***** Hobbies *****/

.hobbies-preview ul {
    padding: 0;
}

.hobbies-preview ul li{
    list-style: none;
    font-size: var(--text-body); /***** Original Value is 12px *****/
    margin: var(--li-vertical-margin) 0; /***** Original Value is 3px *****/
}

/***** Work Experience *****/ 

.preview-work-experience p{
    margin: 0;
    font-size: var(--text-body); /***** Original Value is 12px *****/
}

.preview-work-experience-position {
    margin: var(--right-text-body-top-margin) 0 0 0; /***** Original Value is 10px *****/
    font-weight: bold;
    font-size: var(--text-body-highlight); /***** Original Value is 15px *****/
}

.preview-work-experience-dates {
    display: flex;
    font-size: var(--text-body); /***** Original Value is 12px *****/
    font-style: italic;
}

/***** Education *****/

.preview-education p{
    margin: 0;
    font-size: var(--text-body); /***** Original Value is 12px *****/
}

.preview-education-course {
    margin: var(--right-text-body-top-margin) 0 0 0; /***** Original Value is 10px *****/
    font-weight: bold;
    font-size: var(--text-body-highlight); /***** Original Value is 15px *****/
}

.preview-education-dates {
    display: flex;
    font-size: var(--text-body); /***** Original Value is 12px *****/
    font-style: italic;
}
